@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	font-family: "B Yekan+" !important;
	--font-geist-sans: "B Yekan+", sans-serif;
	--font-geist-mono: "B Yekan+", monospace;
	--font-mono: "B Yekan+", monospace;
	--font-sans: "B Yekan+", sans-serif;
	--font-heading: "B Yekan+", sans-serif;
	--font-code: "B Yekan+", monospace;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme:dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "B Yekan+" !important;
}

